* {
	margin: 0;
	padding: 0;
}
.swiper-container {
    min-width: 100%;
		margin-right: 0 auto;
		height: 100%;
		overflow: hidden;
}

.sect {
	position: relative;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: blue;
}
